/* Page margin */
*{
  margin: 0px;
}
/* links */
a{
  text-decoration: none;
  font-size: 1.3rem;
  padding: 0.6rem;
  color: #0081C9;
}
/* body sytle */
body{
  text-align: center;
  height: 100vh;
}


.footer-link:hover{
  background-color: #A084DC;
  color: black;
  border-radius: 7%;
}


hr{
  background-color: tranparent;
  width: 10%;
  border-top: 0.45rem;
  border-color: #C98474;
  border-style: dotted none none;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}
h1, h2{
  color: #0081C9;
  text-align: center;
  align-items: center;

}
button{
  color: white;
  background-color: #698269;
  width: 100px;
  height: 40px;
  border: none;
  border-radius: 7%;
  margin-bottom: 2rem;
}
.header-div{
  padding-top: 10rem;
  height: 100vh;
  width: 100%;
  background-color: #B5D5C5;
  position: relative;
}
.top-cloud{
  position: absolute;
  right: 18%;
  top: 73%;
  width: 9%;
  height: auto;
}
.middle-cloud{
  position: absolute;
  right: 30%;
  top: 43%;
  width: 7%;
  height: auto;
}
.buttom-cloud{
  position: absolute;
  left: 20%;
  top: 60%;
  width: 10%;
  height: auto;
}
.mountain{
  width: 70%;
  height: auto;
  position: absolute;
  bottom: 0px;
  left: 20%;
}
.my-name{
  font-family: Sacramento;
  font-size: 5rem;
}
button:hover{
  background-color: #FFB100;
  color: black;
}
.profile-img{
  width: 20%;
}

.div-skill{
  width: 50%;
  height: 9.44rem;
  margin: 1.5rem auto;

}
 .p-text{
   width: auto;
   height: 8rem;
   text-align: justify;
   line-height: 1.3rem;
   overflow: auto;
   padding: 0 0.8rem;
 }

.web-img{
  width: auto;
  height: 9.44rem;
  margin: auto;
  float: left;
  margin-right: 2rem;
}
.research-img{
  height: 9.44rem;
  width: auto;
  margin: auto;
  float: right;
  margin-left: 2rem;

}

.footer-div{
  background-color: #B5D5C5;
  margin-bottom: 0px;
  padding: 50px 0px;

}

.work-table{
  margin: 2rem auto 4rem;
  padding-top: 3rem;
}
.skill-table{
  margin: 2rem auto 4rem;
  text-align: justify;

}
.footer-link{
  height: 3rem;
  font-size: 1rem;
}
.link-div{
  margin: 2rem auto;
}
.contact-page{
  background-color: #B5D5C5;
  margin: 100px;
  text-align: center;
}
.contact-div{
  background-color: #ECF9FF;
  margin: 0px 450px;
  border-radius: 5%;
}
.back-link{
  hover: none;
}
.div-skill:hover{
  background-color: #B5D5C5;
}


/* contact page CSS */
form {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f7f7f7;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  font-size: 16px;
  margin-bottom: 5px;
  color: #555;
}

input[type="text"],
input[type="email"],
textarea {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  margin-bottom: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

input[type="submit"] {
  background-color: #4CAF50;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #3e8e41;
}

@media only screen and (max-width: 600px) {
  form {
    max-width: 90%;
    padding: 10px;
  }

  input[type="submit"] {
    width: 100%;
  }
}


@media only screen and (max-width:600px){
p{
  font-size: 1rem;
  line-height: normal;
}

  .middle-cloud {
  position: absolute;
  right: 30%;
  top: 33%;
  width: 7%;
  height: auto;
  }
  .buttom-cloud {
  position: absolute;
  left: 20%;
  top: 70%;
  width: 10%;
  height: auto;
  }
  .top-cloud {
  position: relative;
  right: 18%;
  top: 86%;
  width: 9%;
  height: auto;
  }
  .header-div{
    position: relative;
    height: 100%;
    width: 100%;
    background-color: #B5D5C5;
  }
  .mountain {
  width: 100%;
  height: auto%;
  position: absolute;
  left: 0px;
  bottom: 0;
  margin-right: 100px;
  }
  .profile-img{
    width: 100%;
  }
  .intro-div{
    font-size: 1rem;
    width: 90%;
    text-align: center;
    margin: 0 auto;
  }

  .web-img{
    clear: both;
    overflow:auto;
    width: 100%;
    height: auto;
  }
  .research-img{
    clear: both;
    overflow:auto;
    width: 100%;
    height: auto;
  }

h3{
  clear:both;
overflow:auto;
}
.div-skill{
  display: inline-block;
  position: relative;
  top: 10px;
  text-align: center;
  width: 75%;
}
.header-course{
  text-align: center;
  overflow: auto;
}
/* contact page styling */
